body{
    background-color: #ffffff;
    width: 375px;
    font-family: "游明朝体 Pr6N";
    margin: 0 auto;
}
.header_icon{
    position: absolute;
    top: 50px;
    left: 29px;
}
.icon{
    width: 150px;
    margin: 20px auto 38px auto;
}
h1{
    font-size: 40px;
    font-family: "HGP明朝E";
    text-align: center;
    margin-bottom: 19px;
    color: #333333;
}
.text{
    width: 280px;
    margin: 0 auto;
}
.text_2{
    margin-top: 42px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 9px;
}
.detail{
    margin: 0px 10px;
}
h2{
    font-size: 45px;
    font-family: Britannic;
    text-align: center;
    margin: 39px 0 9px 0;
}
.before_text,.after_text{
    margin-top: 7px;
    font-size: 25px;
    text-align: center;
    line-height: 25px;
}
.before_text{ 
    color: #113036;
    -webkit-text-stroke:#113036 1px;
}
.after_text{
    color: #3A0E0E;
    -webkit-text-stroke:#3A0E0E 1px;
}
.detail_img{
    border-radius: 20px;
}
.wc_before_image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px 0px;
}
.wc_bimg{
    width: 167px;
    height: 223px;
}
.wc_after{
    margin-top: 22px;
}
.after_image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.after_left{
    display: flex;
    align-items: center;
}
.aimg1{
    width: 151px;
    height: 201px;
}
.aimg2,.aimg3{
    width: 190px;
    height: 143px;
}
.aimg2{
    margin-bottom: 19px;
}
.crypto_image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.crypto_bimg{
    width: 174px;
    height: 232px;
}
.crypto_aimg1,.crypto_aimg2{
    width: 109px;
    height: 145px;
}
.crypto_after_image{
    width: 168px;
    height: 232px;
    position: relative;
}
.crypto_aimg1{
    position: absolute;
}
.crypto_aimg2{
    position: absolute;
    left: 65px;
    top: 87px;
}
.bc_title{
    font-size: 37px;
}
.sibuya{
    font-family: "游ゴシック";
}
.other,.other_name{
    font-size: 37px;
    text-align: center;
    line-height: 37px;
    -webkit-text-stroke:#333333 1px;
}
.other{
    margin-top: 120px;
}
.other_name{
    font-family: 游明朝体 Pr6N;
    font-weight:normal ;
    margin: 39px 0 12px 0;
}
.tandeki{
    font-size: 29px;
}
footer{
    margin: 62px 0 31px 0;
}
footer p{
    text-align: center;
    font-size: 15px;
    line-height: 20px;
}