body{
    background-color: #000000;
    width: 375px;
    font-family: "游明朝体 Pr6N",sans-serif;
    margin: 0 auto;
}
.header_icon{
    position: absolute;
    top: 55px;
    left: 34px;
}
.item{
    margin-top: 68px;
    display: flex;
    flex-direction: row;
    width: 375px;
    height: 50px;
    background-color: #181818#000000(5, 84, 255);
}
.item_left,.item_right{
    width: 187px;
    padding-top: 20px;
    position: relative;
}
.item_left p,.item_right p{
    text-align: center;
    font-size: 17px;
    color: #000000;
    font-family: Britannic;
    -webkit-text-stroke:#ffffff 1px;
}
.item_line{
    border: #000000 1px solid;
    border-radius: 10px;
}
.name{
    width: 93px;
    height: 21px;
    border: #EEEEEE 2px solid;
    border-radius: 20px;
    position: absolute;
    background-color: #000000;
}
.name p{
    font-size: 14px;
    text-align: center;
    color: #EEEEEE;
    line-height: 21px;
}
.item .name{
    left: 46px;
    top: -11px;
}
.item_left ul li,.item_right ul li{
    font-family: Britannic;
}
.local_1{
    margin-top: 54px;
    color: #EEEEEE;
}
.detail_top{
    display: flex;
    flex-direction: row;
}
.store{
    width: 375px;
    border-top: #EEEEEE 1px solid;
    position: relative;
}
.store div{
    left: 141px;
    top: -13px;
}
.detail_top img{
    width: 98px;
    margin: auto;
}
.detail_img{
    width: 155px;
}
.detail_text{
    width: 220px;
}
.local_1 h1{
    font-size: 45px;
    margin: 30px 0 24px 0px ;
    text-align: center;
    font-family: Britannic;
}
.detail_bottom{
    display: flex;
    justify-content: center;
    gap:92px
}
.detail_bottom img{
    margin: 42px 0  20px 0;
}
.twitter_icon{
    padding-top: 6px;
}
.tweet{
    width: 288px;
    height: 212px;
    background-color: aqua;
    margin: 41px auto 64px auto;
    border-radius: 25px;
}